{% extends 'base.html' %}
{% block content %}

<section>	

	{% with info=info %}{% include "soccer/worldcup/hero.html" %}{% endwith %}

{% if yest_info.games == [] %}
		<div class="no_data_wrapper"> 
			<p class="explainer_text" >
				<span style="font-weight: 500">No games found.</span><br>
				Contact 
				<a target="_blank" href="https://twitter.com/ChubbyHooper24">
					me on Twitter
				</a> 
				if you think this might be an error.
			</p>
		</div>	
	{% endif %}

	{% with info=info %}{% include "soccer/worldcup/yesterday.html" %}{% endwith %}

	{% include "soccer/worldcup/today_heading.html" %}

	{% if today_info.games == [] %}
		<div class="no_data_wrapper"> 
			<p class="explainer_text" >
				<span style="font-weight: 500">No games found.</span><br>
				Contact 
				<a target="_blank" href="https://twitter.com/ChubbyHooper24">
					me on Twitter
				</a> 
				if you think this might be an error.
			</p>
		</div>	
	{% endif %}

	{% with info=info %}{% include "soccer/worldcup/today.html" %}{% endwith %}

</section>
{% endblock %}