<div class="hero_flex">
	<div class="hero_item">
		<h2 class="small_subtitle">Semi-Final Games:</h2>
	</div>
</div>

{% with info=info %}{% include "globals/empty_checker.html" %}{% endwith %}
<div class="listings_wrapper" id="listings">	
	{% for g in info.games %}
		<div class="game_wrapper">
			<div class="soccer_flex">

				<div class="mobile_game_details">
					<p style="font-weight: 600">{{ g.day }},</p>
					<p>{{ g.date }}</p>
					<p class="purple_trim">{{ g.stadium }},</p>
					<p class="purple_trim">{{ g.city }}</p>
				</div>
					
				<div class="home_team_row">
						<div class="wc_team_column">								
								<img class="team_logo"
										src="{{ g.home_team.logo }}"
										alt="team logo" />
								<p class="team_title">{{ g.home_team.name }}</p>
								<p class="team_title purple_trim">{{ g.home_team.record }}</p>
							</div>
							<p class="score">{{ g.home_team.score }}</p>
						</div>					
				
						<div class="game_details_column">
							<div class="desktop_game_details">
								<p style="font-weight: 600">{{ g.day }},</p>
								<p>{{ g.date }}</p>
								<p class="purple_trim">{{ g.stadium }},</p>
								<p class="purple_trim" >{{ g.city }}</p>
							</div>
							{% if g.scorers.goals or g.scorers.penalties %}
								<a class="reveal_scorer" >Show Scorers &darr;</a>					
							{% endif %}
						</div>
					
				<div class="away_team_row">
					<p class="score">{{ g.away_team.score }}</p>
					<div class="wc_team_column">							
							<img class="team_logo" 
									src="{{ g.away_team.logo }}"
									alt="team logo" />
							<p class="team_title">{{ g.away_team.name }}</p>
							<p class="team_title purple_trim">{{ g.away_team.record }}</p>
					</div>					
				</div>

		</div>

		{% with g=g %}
			{% include "soccer/scorers.html"%}
		{% endwith %}	

	</div>
	{% endfor %}
	
</div>