/***** GLOBAL STYLES ******/

html {
	background-color: #f8f8f8;
	color: #242424;	
	font-size: 16px;
	font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;	
  min-width: 300px;
  overflow-x: hidden;  
	font-weight: 500;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}
img {
	vertical-align: middle;
}
/* Mobile */
section {	
	padding: 2rem 2rem;
}
/* Desktop */
@media screen and (min-width: 768px) {
  section { padding-bottom: 1rem 5rem; }
}

/***** PAGE TEMPLATE STYLES ******/

div.listings_wrapper {
	max-width: 1000px;
	margin: 0 auto;	
}

.hero_flex {
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	align-items: center;
}

.hero_item {	
	display: flex;
	flex-direction: column;
	align-items: center;		 
	border-radius: 12px;
	max-width: 750px;
	/* flex: 0 1 600px; */
	/* border: 2px solid #762FBE;    */
}

h1.section_title {
	font-size: 2.65rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.25;
	margin-bottom: 1.5rem;
	color: #2F1D58;
	border-bottom: 2px solid;
	padding-bottom: 1.5rem;
}

p.explainer_text {
	color: #2F1D58;
	margin-bottom: 2rem;
	font-size: 1.2rem;
  font-weight: 400;
	text-align: center;	
}
.explainer_text span { font-weight: 600;}	

h2.section_subtitle {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	color: #2F1D58;
	border-bottom: 2px solid;
	padding-bottom: 0.5rem;
	text-align: center;
}

.reveal_all, .reveal_specific, .buy_coffee_button {	
	background-color: #762FBE;
	font-size: 1.1rem;
	color: white;
	font-weight: 500;	
	padding: 10px 1.5rem 10px 1.5rem;
	border-radius: 4px;
	border: 0;
}
.reveal_all { margin-bottom: 3rem; }
.buy_coffee_button { 
	font-size: 1rem;
	padding-left: 14px;
	padding-right: 14px;
}

.reveal_all:hover, .reveal_all:active,
.reveal_specific:hover, .reveal_specific:active,
.buy_coffee_button:hover, buy_coffee_button:active {
	background-color: #9049D8;
	cursor: pointer;
}

.buy_coffee_icon {
	width: 18px;
	margin-right: 8px;	
}

/****** GAME PANEL STYLES ******/

.game_wrapper {
	padding: 0 2rem 2rem 2rem;
	box-shadow: 2px 3px 2px rgb(0 0 0 / 5%);
	background-color: white;
	margin-bottom: 2.25rem;	
}

.home_away { position: relative; }

.game_details {	
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.1rem;
}

.home_away { margin-bottom: 0.5rem; }

.score { font-size: 2.5rem }

.game_flex {
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;	
	flex-direction: row;
}

@media screen and (min-width: 768px) {
	.game_flex { justify-content: space-between; }
}

.team_row {
	display: flex;
	flex-direction: row;	
	align-items: center;
}

.team_column {	
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding: 2rem 0.5rem 0 0.5rem;
	max-width: 150px;
}

.team_logo {
	max-width: 75px;
	margin-left: 1rem;
  margin-right: 1rem;
	margin-bottom: 0.75rem;
}

.team_title {
	font-weight: 500;
	font-size: 1.1rem;
	position: relative;	
  text-align: center;
}

/***** PLAYER PANEL STYLES *****/

.player_flex_wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 1rem 1rem 1rem;	
	background-color: white;	
}

.player_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	border: 1.25px solid #e7e7e7;	
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
	border-radius: 12px;
	margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
	.player_column { margin-bottom: 0; }
}

.player_column:hover, .player_column:active { border: 1.5px solid #762FBE; }

.player_column:hover > .leader_title, 
.player_column:active > .leader_title { 
	border-color: #762FBE; 
}

h2.leader_title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 500;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 1rem;
}

.player_profile_img {
	max-width: 175px;
	margin-bottom: 1rem;	
}