/****** GAME PANEL STYLES ******/

div.listings_wrapper {
	max-width: 900px;
	margin: 0 auto;	
}

.game_wrapper {
	padding: 0 2rem 2rem 2rem;
	box-shadow: 2px 3px 2px rgb(0 0 0 / 5%);
	background-color: white;
	margin-bottom: 2.25rem;	
}

.home_away { position: relative; margin-bottom: 0.5rem; }

/* Uses soccer_flex class here for jquery slide logic */
.game_flex, .soccer_flex {
	display: flex;	
	justify-content: center;	
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.game_flex, .soccer_flex { 
		justify-content: space-between;
		flex-direction: row;
	}
}

.home_team_row {
	display: flex;
	flex-direction: row;	
	align-items: center;
}
.home_team_row .team_column { order: 2 }
.game_details {		
	order: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.1rem;
	margin-top: 1.5rem;
}
.away_team_row {
	display: flex;
	flex-direction: row;	
	align-items: center;
}
.score { font-size: 2.5rem }
@media screen and (min-width: 768px) {
	.home_team_row .team_column { order: 0 }
	.game_details {	
		order: 0
	}
}

.team_column, .wc_team_column {	
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding: 2rem 0.5rem 0 0.5rem;
	max-width: 150px;	
}

.wc_team_column {
	padding-top: 3rem
}

.team_logo {
	max-width: 75px;
	margin-left: 1rem;
  margin-right: 1rem;
	margin-bottom: 0.75rem;
}

.team_title {
	font-weight: 500;
	font-size: 1.1rem;
	position: relative;	
  text-align: center;
	line-height: 1.25;
	margin-bottom: 0.25rem;
}