<style>
	footer {
		margin-top: auto;
		color: #2F1D58;	
	}
	.footer_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.25rem 2.5rem 1rem 2.5rem;
		background-color: white;		
		border-top: 1px solid #e7e7e7;
	}
	.copyright_wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.copyright_wrapper a {
		margin-right: 0.5rem;
		font-size: 1rem;		
	}
	/* NB: all styles down from contact_wrapper inherited from nav */
	
</style>
<footer>
	<div class="footer_wrapper">
		<div class="copyright_wrapper">
			<div class="contact_wrapper">
				<div class="twitter_wrapper"> 
					<a style="margin-right: 0.75rem;" class="twitter_link" 
						target="_blank" href="https://twitter.com/ChubbyHooper24">By the Chubby Hooper:</a>
					<a style="margin-right: 2rem;" target="_blank" 
						target="_blank" href="https://twitter.com/ChubbyHooper24">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<a class="buy_coffee_button" 
					href="https://www.buymeacoffee.com/chubbyhooper" target="_blank">				
					<img class="buy_coffee_icon" 
							src="{{url_for('static', filename='img/white_bmc.svg')}}"/>
					Buy me a coffee
				</a>
    	</div>
			
		</div>			
	</div>
</footer>