<style>
	footer {
		margin-top: auto;
		color: #2F1D58;	
	}
	.footer_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.25rem 2.5rem 1rem 2.5rem;
		background-color: white;		
		border-top: 1px solid #e7e7e7;
	}
	.copyright_wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.copyright_wrapper a {
		margin-right: 0.5rem;
		font-size: 1rem;		
	}
	.copyright_wrapper a:hover {text-decoration: underline; }
	.copyright_wrapper .icon_wrapper i { font-size: 1.5rem }
	
</style>
<footer>
	<div class="footer_wrapper">
		<div class="copyright_wrapper">
			<a target="_blank" href="https://twitter.com/ChubbyHooper24">Made by the Chubby Hooper:</a>	
			<a target="_blank" class="icon_wrapper" href="https://twitter.com/ChubbyHooper24">
				<i class="fab fa-twitter"></i>
			</a>	
		</div>			
		</div>		
</div>
</footer>