<style>
	footer {
		margin-top: auto;		
	}
	.footer_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.25rem 2.5rem 1rem 2.5rem;
		background-color: white;		
		border-top: 1px solid #e7e7e7;
	}
	.copyright_wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.copyright_wrapper p {
		margin-right: 1.5rem;
		font-size: 0.9rem;
	}
	.copyright_wrapper .icon_wrapper i {
		font-size: 1.5rem
	}
	.copyright a {
		text-decoration: underline;		
	}
</style>
<footer>
	<div class="footer_wrapper">
		<div class="copyright_wrapper">
			<p>
				&copy; Copyright Chubby Hooper Technologies 2022				
			</p>			
			<a target="_blank" class="icon_wrapper" href="https://twitter.com/ChubbyHooper24">
				<i class="fab fa-twitter"></i>
			</a>				
		</div>			
		</div>		
</div>
</footer>