<div style="display: none" class="player_flex_wrapper">
	
	<a class="player_column" href="{{ g.leaders.passing.wiki }}" target="_blank">
		<h2 class="leader_title">Passing Leader</h2>								
			<img class="player_profile_img"
				src="{{ g.leaders.passing.headshot }}"
				alt="player profile image" />
			<p class="player_info">
				{{g.leaders.passing.full_name}}, {{g.leaders.passing.position}}
			</p>
			<p class="team_info">{{g.leaders.passing.team}}</p>
	</a>

	<a class="player_column" href="{{ g.leaders.receiving.wiki }}" target="_blank">
		<h2 class="leader_title">Receiving Leader</h2>								
			<img class="player_profile_img"
				src="{{ g.leaders.receiving.headshot }}"
				alt="player profile image" />
			<p class="player_info">
				{{ g.leaders.receiving.full_name }}, {{ g.leaders.receiving.position }}
			</p>
			<p class="team_info">{{g.leaders.receiving.team}}</p>
	</a>

	<a class="player_column" href="{{ g.leaders.rushing.wiki }}" target="_blank">
		<h2 class="leader_title">Rushing Leader</h2>
			<img class="player_profile_img"
				src="{{g.leaders.rushing.headshot}}"
				alt="player profile image" />
			<p>
				{{g.leaders.rushing.full_name}}, {{g.leaders.rushing.position}}
			</p>
			<p class="team_info">{{g.leaders.rushing.team}}</p>
	</a>

</div>