<style>   
  .nav_wrapper {
    display: flex;
    justify-content: center;       
    background-color: white;
    padding-top: 1.25rem;    
    padding-bottom: 0.5rem;    
  }  
  nav .logo_wrapper {
    position: relative;
  }
  nav .logo {
    width: 3rem;
    margin-right: 0.25rem;
    position: relative;
    top: -10px;
  }
   nav .title {
    font-size: 1.75rem;
    font-weight: 700;    
    color: #242424
  } 
</style>
<nav role="navigation">  
  <div class="nav_wrapper">
    <div class="logo_wrapper">
      <!-- <img class="logo" src="" alt="WAGMI Logo" /> -->
        <!-- <span class="title">Chubby Hooper Sports</span> -->
    </div>    
  </div>
</nav>