<style>  
	.nav_wrapper {
    display: flex;
		flex-direction: row;
		align-items: center;
    justify-content: space-between;
    background-color: white;
		padding: 1rem 2.5rem 0.75rem 2.5rem;
		border-bottom: 1px solid #e7e7e7;		
  }	
	.nav_wrapper .title {
		font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
		top: -2px;
    position: relative;
    margin-left: 10px;
	}
	.nav_wrapper .logo_wrapper i {
		font-size: 2.25rem;
	}
	.nav_wrapper .contact_wrapper i {
		font-size: 1.75rem;
	}
</style>
<nav role="navigation">  
  <div class="nav_wrapper">
    <div class="logo_wrapper">
			<i class="fas fa-hippo"></i>
			<span class="title">The Chubby Hooper</span>
    </div>
		<div class="contact_wrapper">
			<a href="https://twitter.com/ChubbyHooper24">
				<i class="fab fa-twitter"></i>
			</a>
    </div>   
  </div>
</nav>