<style>
	nav { margin-bottom: 1rem; }
	
	.nav_wrapper {
		line-height: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #2F1D58;
		background-color: white;
		padding: 1rem 2rem 1.5rem 2rem;
	}
	.logo_wrapper { display: flex; align-items: center; margin-bottom: 1rem; }
	
	.contact_wrapper {
		display: flex; 
		flex-direction: column; 
		align-items: center; 
	}
	.twitter_wrapper { display: flex; align-items: center; margin-bottom: 1rem; }

	.sport_button {
		margin-bottom: 1rem;
		background-color: white;	
		border-radius: 4px;	
		/* One shade darker than purple trim: */
		color: #5D16A5;	
		border: 3px solid;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
	.sport_button i { margin-right: 0.25rem; }
	.sport_button:hover, .sport_button:active {
		background-color: #5D16A5;
		color: white
	}

	@media screen and (min-width: 768px) {
		.sport_button { margin-bottom: 0 }
		.nav_wrapper {
			flex-direction: row;  
			justify-content: space-between; 
			padding: 1rem 7rem 0.75rem 7rem;
		} 
		.logo_wrapper { margin-bottom: 0; }
		.contact_wrapper { flex-direction: row; }
		.twitter_wrapper { margin-bottom: 0;}
	}
	
	.nav_wrapper .nav_title {
		font-size: 1.75rem;
		font-weight: 800;
		text-transform: uppercase;		
		position: relative;
		margin-left: 10px;
	}

	.logo_wrapper i { font-size: 2.25rem; }
	.twitter_wrapper i { font-size: 1.75rem; }
	.contact_wrapper .twitter_link:hover { text-decoration: underline; }	
</style>

<nav role="navigation">
  <div class="nav_wrapper">
    <div class="logo_wrapper">
			<i class="fas fa-hippo"></i>
			<h1 class="nav_title">Chubby Sports<h1>
    </div>
		<div class="contact_wrapper">
				<div class="twitter_wrapper"> 
					<a style="margin-right: 0.75rem;" class="twitter_link" 
						target="_blank" href="https://twitter.com/ChubbyHooper24">By the Chubby Hooper:</a>
					<a style="margin-right: 2rem;" target="_blank" 
						target="_blank" href="https://twitter.com/ChubbyHooper24">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				
				{% if request.path == "/" %}
					<a style="margin-right: 1rem" class="sport_button" href="/nba">
						<i class="fas fa-basketball-ball"></i>
						NBA
					</a>
				{% elif request.path == "/nba" %}
					<a style="margin-right: 1rem" class="sport_button" href="/nba">
						<i class="fas fa-football-ball"></i>
						NFL
					</a>
				{% endif %}	

			<a class="buy_coffee_button" 
					href="https://www.buymeacoffee.com/chubbyhooper" target="_blank">				
				<img class="buy_coffee_icon" 
						src="{{url_for('static', filename='img/white_bmc.svg')}}"/>
				Buy me a coffee
			</a>
    </div>
  </div>
</nav>