{% extends 'base.html' %}
{% block content %}

<section>
	
	<div class="hero_flex">
		<div class="hero_item">			
			<h1 class="section_title">NFL Leaders</h1>
			<p class="explainer_text">Find the leaders in <span>passing, receiving</span> and <span>rushing</span> for each NFL game. Scores update automatically on page refresh.</p>
			<a class="reveal_all">Show All Leaders &darr;</a>
			<h2 class="section_subtitle">Week {{ nfl.week }} </h2>	
		</div>
	</div>

	<div id="listings" class="listings_wrapper">		
		{% for g in nfl.games %}
			<div class="game_wrapper">
				
				<div class="game_flex">
						<div class="team_row">
							<div class="team_column">
									<p class="home_away">Home</p>
									<img class="team_logo"
											src="{{ g.home_team.logo }}"
											alt="team logo" />
									<p class="team_treceiving,itle">{{ g.home_team.name }}</p>
								</div>
								<p class="score">{{ g.home_team.score }}</p>
							</div>
					
						<div class="game_details">
							<p class="game_date" style="font-weight: 600" >{{ g.day }},</p>
							<p class="game_date" style="margin-bottom: 3rem" >{{ g.date }}</p>
							<a class="reveal_specific">Show Leaders &darr;</a>
						</div>
						
					<div class="team_row">
						<p class="score">{{ g.away_team.score }}</p>
						<div class="team_column">
								<p class="home_away">Away</p>
								<img class="team_logo" 
										src="{{ g.away_team.logo }}"
										alt="team logo" />
								<p class="team_title">{{ g.away_team.name }}</p>
						</div>					
					</div>
			</div>

			{% with g=g %}
    		{% include "leaders.html" %}
			{% endwith %}	

		</div>
		{% endfor %}
		
	</div>
</section>
{% endblock %}