{% extends 'base.html' %}
{% block content %}
<section>
	<div class="page_wrapper">
		<h1 class="page_title">🏈 NFL Games</h1>
		<div class="game_wrapper">
			<div class="game_flex">
				
				{% for g in games %}
					<div class="team_row">
						<div class="team_column">
								<img class="team_logo" 
										src="{{ g.game.home_team.logo }}" 
										alt="team logo" />
								<p class="team_title">{{ g.game.home_team.name }}</p>
							</div>
							<p class="score">{{ g.game.home_team.score }}</p>
						</div>
					{% endfor %}				
				
					<p class="game_vs_txt">vs</p>
				
					{% for g in games %}
					<div class="team_row">
						<p class="score">{{ g.game.away_team.score }}</p>
						<div class="team_column">
								<img class="team_logo" 
										src="{{ g.game.away_team.logo }}"
										alt="team logo" />
								<p class="team_title">{{ g.game.away_team.name }}</p>
							</div>						
					</div>
					{% endfor %}
					
			</div>									
		</div>
	</div>

</section>
{% endblock %}