<style>
.buttons_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.sport_button {		
		padding: 10px 1.5rem 10px 1.5rem;
		background-color: white;	
		border-radius: 4px;	
		/* One shade darker than purple trim: */
		color: #5D16A5;	
		border: 3px solid;
		margin-bottom: 1rem;	
	}
	.sport_button i { margin-right: 0.25rem; }
	.sport_button:hover, .sport_button:active {
		background-color: #5D16A5;
		color: white
	}
</style>


<div class="buttons_wrapper"> 
	<a style="margin-right: 2rem" class="sport_button" href="/">
		<i class="fas fa-football-ball"></i>
		NFL
	</a>
	<a style="margin-right: 2rem" class="sport_button" href="/nba">
		<i class="fas fa-basketball-ball"></i>
		NBA
	</a>
	<a style="margin-right: 2rem" class="sport_button" href="/worldcup">
		<i class="fas fa-futbol"></i>
		World Cup
	</a>
</div>