<div class="listings_wrapper" id="listings">
	{% for g in info.games %}
		<div class="game_wrapper">				
			<div class="game_flex">
					<div class="team_row">
						<div class="team_column">
								<p class="home_away">Home</p>
								<img class="team_logo"
										src="{{ g.home_team.logo }}"
										alt="team logo" />
								<p class="team_title">{{ g.home_team.name }}</p>
								<p class="team_title purple_trim">{{ g.home_team.record }}</p>
							</div>
							<p class="score">{{ g.home_team.score }}</p>
						</div>			
				
						<div class="game_details">
							<p style="font-weight: 600;">{{ g.est_time }} EST / {{ g.uk_time }} UK </p>
							<p class="purple_trim">{{ g.stadium }},</p>
							<p class="purple_trim" style="margin-bottom: 2rem">
								{{ g.city }}
							</p>	
							<a  class="reveal_specific">Show Leaders &darr;</a>							
						</div>
					
				<div class="team_row">
					<p class="score">{{ g.away_team.score }}</p>
					<div class="team_column">
							<p class="home_away">Away</p>
							<img class="team_logo" 
									src="{{ g.away_team.logo }}"
									alt="team logo" />
							<p class="team_title">{{ g.away_team.name }}</p>
							<p class="team_title purple_trim">{{ g.away_team.record }}</p>
					</div>					
				</div>
		</div>

		{% with g=g %}{% include "nba/leaders.html"%}{% endwith %}

	</div>
	{% endfor %}
	
</div>